Categories: authors
Summary: Graham Ashton is the author and maintainer of Nesta CMS. He lives in Manchester where he runs a bootstrapped startup for agile developers.
Articles heading: Articles by Graham

%h1 Graham Ashton

%section.author-biography= author_biography('Graham Ashton')
