Categories: authors
Summary: Igor is a Ruby developer from Russia, Saint-Petersburg
Articles heading: Articles by IgorTirador

%h1 Igor Tirador

%section.author-biography= author_biography('Igor Tirador')
