Categories: authors
Summary: Jacopo is a Ruby developer from Pisa, Italy.
Articles heading: Articles by Jacopo

%h1 Jacopo Notarstefano

%section.author-biography= author_biography('Jacopo Notarstefano')
