@use "sass:color"

$base-color: #313126
$background-color: #fff
$tint: #F9F7EF
$border-color: #D7C28B
$link-color: #D85700
$visited-link-color: color.adjust($link-color, $lightness: -5%)
$hover-link-color: color.adjust($link-color, $lightness: 15%)
$active-link-color: color.adjust($link-color, $lightness: -20%)
$nav-link-color: color.adjust(color.adjust($link-color, $lightness: 25%), $saturation: -35%)
$meta-color: #87877D
