%p.documentation-overview
  We recommend familiarising yourself by working through
  %a(href="/docs/quick-start") Quick start
  followed by a quick skim of
  %a(href="/docs/creating-content") Writing content
  and then
  = succeed "." do
    %a(href="/docs/config") Configuration
