%p.documentation-overview
  We recommend familiarising yourself by working through
  %em
    %a(href="/docs/quick-start") Quick start
  followed by a quick skim of
  %em
    %a(href="/docs/creating-content") Writing content
  and then
  %em
    = succeed "." do
      %a(href="/docs/config") Configuration
