%nav.documentation.group
  - display_menu(Nesta::Menu.for_path('/docs/quick-start'), :root => '/docs/quick-start', :class => 'quick-start')
  - display_menu(Nesta::Menu.for_path('/docs/creating-content'), :root => '/docs/creating-content', :class => 'creating-content')
  - display_menu(Nesta::Menu.for_path('/docs/config'), :root => '/docs/config', :class => 'config')
  - display_menu(Nesta::Menu.for_path('/docs/design'), :root => '/docs/design', :class => 'design')
  - display_menu(Nesta::Menu.for_path('/docs/deployment'), :root => '/docs/deployment', :class => 'deployment')
  / - display_menu(Nesta::Menu.for_path('/docs/recipes'), :root => '/docs/recipes', :class => 'recipes')
  - display_menu(Nesta::Menu.for_path('/docs/plugins'), :root => '/docs/plugins', :class => 'plugins')
