%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="https://nestacms.com") Ruby CMS
    Designed and built by
    = succeed "," do
      %a(href="https://hachyderm.io/@gma") Graham Ashton
