%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://nestacms.com") Ruby CMS
    Designed and built by
    %a(href="http://twitter.com/grahamashton") Graham Ashton,
    sponsored by 
    = succeed "." do
      %a(href="https://www.theagileplanner.com") The Agile Planner
