%footer.branding
  %p
    Powered by Nesta
    %br
    Created by
    = succeed "," do
      %a(href="http://effectif.com") Graham Ashton
    sponsored by 
    %a(href="https://www.agileplannerapp.com") Agile Planner
    (project management software that works the way you do)
