%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://effectif.com/nesta") Ruby CMS
    Designed and built by
    %a(href="http://grahamashton.net") Graham Ashton
    at
    = succeed "." do
      %a(href="http://effectif.com") Effectif
