%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://nestacms.com") Ruby CMS
    Designed and built by
    = succeed "," do
      %a(href="http://twitter.com/grahamashton") Graham Ashton
    sponsored by 
    %a(href="https://www.agileplannerapp.com") Agile Planner
    (the fun way to manage your software projects)
