%p
  %a(href="http://grahamashton.net") Graham Ashton
  is the author and maintainer of Nesta CMS.

%p
  He's running a bootstrapped startup in London, where he works as a
  = succeed "." do
    %a(href="http://effectif.com") freelance web developer

%p
  Contact him at
  %a(href="http://twitter.com/grahamashton") @grahamashton
  on Twitter.
