%div{ :class => (has_avatar ? 'illustrated' : nil) }
  :markdown
    [Graham Ashton](/authors/graham-ashton) is the author and maintainer of
    Nesta CMS. He lives in Manchester where he's building a simpler app
    for [tracking agile projects](http://theagileplanner.com).

    He writes a technical blog at <http://effectif.com> and can be found
    at [@grahamashton][] on Twitter.

    [@grahamashton]: http://twitter.com/grahamashton
