%div{ :class => (has_avatar ? 'illustrated' : nil) }
  :markdown
    [Graham Ashton](/authors/graham-ashton) is the author and maintainer of
    Nesta CMS. He lives in Manchester, in the UK.

    He writes a technical blog at <https://effectif.com> and can be found
    at [@gma@hachyderm.io][] on Mastodon.

    [@gma@hachyderm.io]: https://hachyderm.io/@gma
