%div{ :class => (has_avatar ? 'illustrated' : nil) }
  :markdown
    [Graham Ashton](/authors/graham-ashton) is the author and maintainer of
    Nesta CMS.

    He lives in Manchester where he runs a bootstrapped startup for agile
    development teams.

    He writes a blog at <http://effectif.com> and can be found at
    [@grahamashton][] on Twitter.

    [@grahamashton]: http://twitter.com/grahamashton
