%header(role="banner")
  %hgroup
    %h1= @heading
    %h2= @subtitle
  %nav.primary
    - display_menu(@menu_items, :class => "menu", :levels => 1)
  %p.links
    %a.feed(href="/articles.xml") Subscribe
    %a.github(href="https://github.com/gma/nesta") GitHub
