%div{ :class => (has_avatar ? 'illustrated' : nil) }
  :markdown
    [Igor Tirador](/authors/igor-tirador) is a Ruby
    developer from Russia, Saint-Petersburg. He blogs at <http://igortirador.github.com> and is
    [@igortirador](http://twitter.com/igortirador) on Twitter
