* {
  margin: 0;
  padding: 0; }

body {
  font: 0.924em "adobe-calson-pro-1", "adobe-calson-pro-2", Georgia, serif;
  line-height: 1.75em;
  color: #262626; }

header[role=banner] h1,
header[role=banner] h2 {
  margin: 0;
  line-height: 1.2em;
  font-weight: normal; }
header[role=banner] h1 {
  font-size: 327%;
  text-shadow: 0 1px 2px #cccccc, 1px 3px 5px #d6d6d6; }
header[role=banner] h2 {
  color: #999999;
  font-size: 1em; }

h1, h2, h3, #sidebar {
  font-family: "myriad-pro-1", "myriad-pro-2", sans-serif; }

h1, h2, h3 {
  font-weight: bold; }

h4, h5, h6 {
  font-family: Georgia, serif; }

h1 {
  margin-top: 0.482em;
  margin-bottom: 0.321em;
  line-height: 1.606em;
  font-size: 218.0%;
  font-weight: normal; }

h2 {
  margin-top: 1.601em;
  margin-bottom: 0.534em;
  line-height: 1.067em;
  font-size: 164%;
  font-weight: normal; }

h3 {
  margin-top: 1.81em;
  margin-bottom: 0.603em;
  line-height: 1.207em;
  font-size: 145%;
  font-weight: normal; }

h4 {
  margin-top: 2.966em;
  margin-bottom: 0em;
  line-height: 1.483em;
  font-size: 118%; }

ol,
p,
pre,
ul {
  margin: 0;
  margin-bottom: 1.75em; }

li {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.75em;
  font-size: 100%; }

blockquote {
  margin: 1.75em 0;
  padding: 0 1.75em;
  font-style: italic;
  color: #7b7b7b; }

pre {
  padding: 0.875em 1em;
  overflow: auto; }

img {
  border: none; }

article, aside, footer, header, nav, section {
  display: block; }

div#container {
  width: 54em;
  margin: 0 auto;
  padding: 1em 1em 0 1em; }
  div#container nav.breadcrumb {
    margin-top: 1.75em;
    color: #999999;
    padding: 0.5em 0;
    font-size: 0.909em; }
  div#container div#content {
    position: relative;
    width: 37em;
    float: left;
    padding: 1px 0; }
  div#container div#sidebar {
    width: 12em;
    margin-left: 40em;
    padding: 5.25em 1em 1.75em 1em; }
  div#container footer.branding {
    clear: both;
    color: #999999;
    margin-top: 1.989em;
    margin-bottom: 1.989em;
    line-height: 1.989em;
    font-size: 88%; }
    div#container footer.branding p {
      width: 37em;
      margin: 0;
      padding: 1em 0; }

a {
  border-bottom: 1px dotted #507ea9;
  text-decoration: none;
  color: #507ea9;
  -moz-transition: color 0.25s 0 ease;
  -o-transition: color 0.25s 0 ease;
  -webkit-transition: color 0.25s 0 ease;
  transition: color 0.25s 0 ease; }
  a:visited {
    color: #375775;
    border-bottom-color: #375775; }
  a:hover {
    color: #82a4c4;
    border-bottom-color: #82a4c4; }
  a:active {
    color: black;
    border-bottom-color: black; }

#sidebar {
  background-color: #f1f1f3;
  background-color: rgba(255, 255, 255, 0.5); }

nav.categories a,
div.feed a,
article p.meta a {
  color: #7d7d7d;
  border-bottom-color: white; }
nav.categories:hover a,
div.feed:hover a,
article p.meta:hover a {
  color: #507ea9; }
nav.categories a:hover,
div.feed a:hover,
article p.meta a:hover {
  color: #82a4c4; }

article p.meta a {
  -moz-transition: border-bottom-color 0.5s 0 ease;
  -o-transition: border-bottom-color 0.5s 0 ease;
  -webkit-transition: border-bottom-color 0.5s 0 ease;
  transition: border-bottom-color 0.5s 0 ease; }
article p.meta a:hover {
  border-bottom-color: #82a4c4; }

article h1 a {
  border-bottom: none; }

body {
  background: white url(/images/background.png); }

article img {
  max-width: 100%;
  margin-bottom: 1.75em; }
article code,
article pre {
  background-color: #f1f1f3;
  background-color: rgba(255, 255, 255, 0.5); }
  article code code,
  article pre code {
    background: none; }
article code {
  padding: 1px 3px; }
article pre {
  border-left: 1px dashed #9999dd; }
  article pre code {
    padding: 0; }
article footer {
  border-top: 1px dashed #9999dd; }
  article footer p.meta {
    margin-top: 0.193em;
    margin-bottom: 3.658em;
    line-height: 1.925em;
    font-size: 90.9%;
    font-style: italic;
    color: #999999; }

article[role="main"] h1, article[role="main"] h2 {
  text-shadow: 0 1px 2px #cccccc, 1px 3px 5px #d6d6d6; }
article[role="main"] div#disqus_thread img {
  max-width: none; }
article[role="main"] div#disqus_thread ul#dsq-comments {
  margin-left: 0; }

section.pages > ol,
section.articles > ol {
  margin-left: 0; }
  section.pages > ol li,
  section.articles > ol li {
    position: relative;
    margin: 1.75em 0;
    padding: 0.875em 1em;
    background-color: #f1f1f3;
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none; }
  section.pages > ol article ol li,
  section.articles > ol article ol li {
    list-style: decimal; }
  section.pages > ol article ul li,
  section.articles > ol article ul li {
    list-style: disc; }
section.pages header[role=main] h1,
section.articles header[role=main] h1 {
  margin-top: 1.204em;
  margin-bottom: 0.401em;
  line-height: 1.606em;
  font-size: 218.0%; }
section.pages header h1,
section.articles header h1 {
  margin-top: 1.601em;
  margin-bottom: 0.534em;
  line-height: 1.067em;
  font-size: 164%; }
section.pages article h1,
section.articles article h1 {
  text-shadow: none; }
section.pages article p.read_more,
section.articles article p.read_more {
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.75em;
  font-size: 100%;
  margin-top: -1.75em; }
section.pages article footer,
section.articles article footer {
  border-top: none; }

nav.categories h1 {
  margin-top: 3.5em;
  margin-bottom: 0em;
  line-height: 1.75em;
  font-size: 100%; }
nav.categories ul.menu {
  list-style: none; }
  nav.categories ul.menu ul {
    list-style: none;
    margin: 0 0 0 0.825em; }
  nav.categories ul.menu > ul {
    list-style: disc;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.925em;
    font-size: 90.9%; }

div.feed {
  margin: 1.75em 0; }
