Template: wide

%heading
  %h1 Documentation
%p.documentation-overview
  We recommend familiarising yourself by working through
  %em
    = succeed "," do
      %a(href="/docs/quick-start") Quick start
  followed by a quick skim of the
  %em
    %a(href="/docs/creating-content") Writing content
  and
  %em
    %a(href="/docs/config") Configuration
  sections.
%nav.documentation.group
  - display_menu(Nesta::Menu.for_path('/docs/quick-start'), :root => '/docs/quick-start', :class => 'quick-start')
  - display_menu(Nesta::Menu.for_path('/docs/creating-content'), :root => '/docs/creating-content', :class => 'creating-content')
  - display_menu(Nesta::Menu.for_path('/docs/config'), :root => '/docs/config', :class => 'config')
  - display_menu(Nesta::Menu.for_path('/docs/design'), :root => '/docs/design', :class => 'design')
  - display_menu(Nesta::Menu.for_path('/docs/deployment'), :root => '/docs/deployment', :class => 'deployment')
