Title: Ruby CMS - Nesta
Template: home
Link text: Home

%section
  :markdown
    # There's no database to install &ndash; web sites are created from simple text files

    Create web pages by writing your copy in text files. Use Markdown or
    Textile. If you need to get fancy, you can drop into HTML or Haml.

  %img(src="https://nestacms.s3.amazonaws.com/site/screenshots/file-based-cms.png" title="File-based Ruby CMS")

%section
  %h1 Use your favourite editor

  :markdown
    There's no user interface to learn. Just open your favourite editor, get
    writing, and save the file when you're done.

  %img(src="https://nestacms.s3.amazonaws.com/site/screenshots/editing-markdown.png")

.testimonial
  %blockquote
    %p
      navel-labs.com is running 100% Nesta. I was thinking of just using
      Nesta for the cms and delegating the blog to Tumblr or Posterous,
      but after I wrapped my head around what Nesta can do, I was a
      total convert.
  %cite
    Jonathan Penn, Navel Labs
    %img.avatar(src="https://nestacms.s3.amazonaws.com/site/testimonials/jonathan-penn.png")

%section
  %h1 Getting started

  %pre
    $ gem install nesta
    $ gem install bundler
    $ nesta new mysite.com
    $ cd mysite.com
    $ bundle install
    $ nesta demo:content
    $ mr-sparkle   # <= launches your site!

%section
  %h1 Choose from several themes...

  %p
    [Screenshots: mini browser windows with a few different themes]

  %pre
    $ nesta theme:install &lt;name-of-theme&gt;


  %h1 ...or implement your own design

  %p
    [Screenshot: TextMate with sidebar open showing where files live]

.testimonial
  %blockquote
    %p
      I never realized how completely unacceptable Wordpress
      templating is until I started to implement the @toutapp blog
      using @nestacms.
  %cite
    Tawheed Kader, Toutapp
    %img.avatar(src="https://nestacms.s3.amazonaws.com/site/testimonials/tawheed.png")

%section
  %h1 Preview your work on a copy of your&nbsp;site

  :markdown
    If you'd like to see how your site is shaping up, it's easy to run a local
    copy of Nesta.

    This makes it quick to edit your HTML and CSS, and lets you preview your
    copy as it will appear on the site.

%section
  %h1 Publish changes by copying files to a web server, or the cloud

  :markdown
    [Screenshot: terminal, deploying to Heroku with git]

    Publish your changes by copying files to your web server (it's easy if you
    use FTP or Git).

.testimonial
  %blockquote
    %p
      [Nesta] was a great foundation to start from, and I love working
      with Sinatra.
  %cite
    Geoffrey Grosenbach, PeepCode
    %img.avatar(src="https://nestacms.s3.amazonaws.com/site/testimonials/topfunky.png")

%section
  %h1 Also works with Ruby on Rails

  :markdown
    Would you like to add a blog or sales site to a Rails app?
    Nesta integrates cleanly with Rails, and can re-use your existing layout
    and stylesheets.

  %pre
    $ echo "gem 'nesta-rails' >> Gemfile"
    $ bundle
    $ rails generate nesta
    $ mkdir -p content/pages
    $ echo "# You have a CMS!" > content/pages/index.mdown
